@tailwind base;
@tailwind components;
@tailwind utilities;


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}


.react-select__control{
    border-radius: 100px !important;
    border: none !important;
}

.react-select__control::before{
    content: \e8b6;
    font-family: 'Material Icons';
}